flask
flask_sqlalchemy
flask_login
pymysql
cryptography
qdrant-client
python-dotenv
langchain_google_genai
flask_migrate
reportlab 
python-bidi
arabic-reshaper
PyMuPDF
openpyxl
rapidfuzz
pydantic
langgraph
google-auth-oauthlib
google-api-python-client
requests
gunicorn
redis
langchain-openai